@import url(https://fonts.googleapis.com/css?family=Antic);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Balsamiq+Sans);
 
.topnav {
  text-align: right;
  overflow: hidden;
  background-color: #b7bbc9;
  width: 100%;
  display:block;
  margin:0;
  padding:0;
  position: fixed;
  left: 0;
  right: 0;
  top:0;
  z-index: 100;}
.topnav a {
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 1.7vw;
  font-family: Antic;
  display:inline-block;
  padding:2.3%;}
.topnav a:hover {
  color: #242947;}
.topnav a.active {color: #242947;}  
