@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  box-sizing: border-box;
   @include for-phone-only {
    font-size: 6px;
  }    
  .container {
    position: relative;
    background: #eee;
    width: 100vw;
    height: 100vh;
    .phone {
      border: 10px solid #000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 29em;
      height: 57em;
      background: #ff4c4d;
      background: #4ca7ff;
      border-radius: 15px;
      overflow: hidden;
      .top {
        position: absolute;
        z-index: 3;
        background: #ff3334;
        background: #198eff;
        box-sizing: border-box;
        width: 29em;
        height: 8em;
        // border-radius: 15px;
        h1 {
          padding: 1.5em;
          font-size: 13px;
          font-weight: bolder;
          color: #fff;
        }
        .name {
          height: 10em;
          width: 29em;

          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          color: #fff;
        }
      }
    }
    .printer {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 22em;
      height: 0.75em;
      background: #333;
      border: 10px solid #232323;
      border-radius: 10px;
      &:nth-of-type(2) {
        height: 15em;
        top: 15.3%;
        background: #4ca7ff;
        border: 0;
        border-bottom: 10px solid #232323;
        z-index: 2;
      }
    }
    .ticket {
      position: absolute;
      top: 4.5%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 28em;
      svg {
        .cls-3{stroke:#fff;stroke-miterlimit:10;}
        .cls-3,.cls-4{fill:#fcfcfc;}
        .cls-2{fill:#6f87ff;}
        .cls-1 {
          fill: #fff;
        }
        .a {
          fill: #fff;
          stroke: red;
          stroke-width: 5px;
          &:nth-of-type(2) {
            stroke: green;
          }
        }
        height: 100%;
      }
    }
  }
}
.a {
}
.b {
  fill: #6f87ff;
}
.c,
.d {
  fill: #fcfcfc;
}
.c {
  stroke: #fff;
  stroke-miterlimit: 10;
}
